.summaryContainer {
  display: flex;
  justify-content: space-between; /* Розташування елементів з однаковим проміжком */
  padding: 5px;

  max-width: 98%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summaryBlock {
  flex: 1; /* Дозволяє кожному блоку займати однаковий простір */
  margin: 0 10px; /* Відступ між блоками */
  text-align: center; /* Центрує текст усередині кожного блоку */
}

.summaryTitle {
  text-align: center;
  font-size: 1.4em;
  color: #333;
  margin: 10px 0;
}

.highlight {
  font-size: 1.5em;
}

.productList,
.taskList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Відступ між елементами */

  margin-top: 25px;
  list-style-type: none; /* Забирає стандартні буліти у списку */
}

.description {
  font-size: 1rem; /* Розмір шрифту для опису */
  margin-bottom: 0.2rem; /* Відступ між елементами */
}

.taskName,
.productName {
  font-size: 14px;
}

.taskValue,
.productValue {
  padding-left: 0.1rem; /* Відступ між назвою і значенням */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Елементи випливають знизу */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.description {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  opacity: 0; /* Початково елементи невидимі */
  animation: fadeInUp 0.8s forwards; /* Анімація для кожного елемента */
}

/* Стилі з індивідуальними затримками для анімації */
.description:nth-child(1) {
  animation-delay: 1s;
  border-bottom: 5px solid #8884d8;
  border-radius: 3px;
  padding: 10px;
}

.description:nth-child(2) {
  animation-delay: 1.3s;
  border-bottom: 5px solid #82ca9d;
  border-radius: 3px;
  padding: 10px;
}

.description:nth-child(3) {
  animation-delay: 1.5s;
  border-bottom: 5px solid #ffc658;
  border-radius: 3px;
  padding: 10px;
}

.description:nth-child(4) {
  animation-delay: 1.7s;
  border-bottom: 5px solid #d0ed57;
  border-radius: 3px;
  padding: 10px;
}

.description:nth-child(5) {
  animation-delay: 1.9s;
  border-bottom: 5px solid #a4de6c;
  border-radius: 3px;
  padding: 10px;
}

.description:nth-child(6) {
  animation-delay: 2.1s;
  border-bottom: 5px solid #b3429d;
  border-radius: 3px;
  padding: 10px;
}

.description:nth-child(7) {
  animation-delay: 2.1s;
  border-bottom: 5px solid #8884d8;
  border-radius: 3px;
  padding: 10px;
}

.description:nth-child(8) {
  animation-delay: 2.1s;
  border-bottom: 5px solid #82ca9d;
  border-radius: 3px;
  padding: 10px;
}

/* OverallSummary.module.scss */
.summaryTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-family: "Inter", sans-serif;
  max-width: fit-content;
  margin: 20px auto 20px auto;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}

.value {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
}

.highlight {
  font-size: 20px;

  padding: 2px 8px;
  border-radius: 6px;
  margin-left: 6px;

  background: #eafaf1;
  border-color: #cfeee0;
  color: #1b5e20;
  box-shadow: 0 6px 14px rgba(40, 167, 69, 0.12);
}
