/* components/SearchByZlecenieName/SearchByZlecenieName.css */

.searchContainer input {
  padding: 5px;
  margin-right: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}

.searchContainer table {
  width: 100%;
  margin-top: 10px;
}

.searchContainer table,
.searchContainer th,
.searchContainer td {
  padding: 5px;
}

.searchZlecenie {
  border-bottom: 2px solid #82ca9d;
}

.fixedButton {
  z-index: 10;
  position: fixed;
  bottom: 22px;
  left: 5px;
  color: #333;
  border: none;
  background-color: #a2a2a2;
  cursor: pointer;
  font-size: 16px;
  padding: 2px 20px;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  overflow: visible; /* Дозволяє показувати анімацію поза межами кнопки */
}

.fixedButton:hover,
.fixedButton:focus {
  background-color: #333;
  color: #82ca9d;
}

/* Псевдоелемент для анімації підкреслення */
.fixedButton::after {
  content: "";
  position: absolute;
  bottom: -4px; /* Лінія під кнопкою */
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #ffaa00;
  transition: width 0.3s ease, left 0.3s ease;
  transform-origin: center;
}

.fixedButton:hover::after {
  width: 100%;
  left: 0;
}

.modalSearchButton {
  position: relative; /* Додаємо відносне позиціонування */
  color: #333;
  border: none;
  background-color: #a2a2a2;
  cursor: pointer;
  font-size: 16px;
  padding: 2px 20px;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  overflow: visible; /* Дозволяє показувати анімацію поза межами кнопки */
}

/* Псевдоелемент для анімації підкреслення */
.modalSearchButton::after {
  content: "";
  position: absolute;
  bottom: -4px; /* Лінія під кнопкою */
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #ffaa00;
  transition: width 0.3s ease, left 0.3s ease;
  transform-origin: center;
}

.modalSearchButton:hover::after {
  width: 100%; /* Підкреслення по всій ширині при наведенні */
  left: 0;
}

.modalSearchButton:hover,
.modalSearchButton:focus {
  background-color: #333;
  color: #82ca9d;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 300px; /* Початкова ширина */
  max-height: 80vh; /* Максимальна висота */
  overflow-y: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;
  transition: width 0.3s ease, height 0.3s ease;
}

.largeModal {
  width: 100%; /* Збільшена ширина */
  max-width: 800px; /* Максимальна ширина */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.715);
  z-index: 999;
}

.closeButton {
  color: #333;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: scale 0.3s ease;
}

.closeButton:hover,
.closeButton:focus {
  color: #82ca9d;
  scale: 1.5;
}
