/* OperatorStatistics.module.scss */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;

  margin-bottom: 15px;
}

.viewTypeSelection {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.dateSelection {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.dateInput,
.monthInput {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.operatorSelection {
  all: unset;
  text-align: center;
  margin-bottom: 20px;
}

.operatorDropdown {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resultTables {
  margin-top: 20px;
}

.tableContainer {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed; /* Фіксує ширину колонок */
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  white-space: nowrap; /* Запобігає переносу тексту */
  overflow: hidden;
  text-overflow: ellipsis; /* Обрізає довгий текст */
}

/* Встановлення однакової ширини для кожного стовпця */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 20%;
} /* Task */
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 20%;
} /* Quantity */

.customMonthPicker {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(177, 177, 177);
  outline: none;
}
