.navbar {
  background-color: #333;
  color: #ffffffb2;
  display: flex;
  justify-content: space-between; /* Розділяє навігацію і Logout */
  align-items: center;
  padding: 5px 30px;
  height: 40px; /* Фіксована висота */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.singleLink {
  margin-left: auto; /* Вирівнює Login праворуч, якщо він один */
}

.link,
.logoutButton {
  position: relative;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

.link.active,
.logoutButton:hover {
  color: #82ca9d;
}

.link::after,
.logoutButton::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #ffc658;
  transition: width 0.3s ease, left 0.3s ease;
  transform-origin: center;
}

.link:hover::after,
.logoutButton:hover::after {
  width: 100%;
  left: 0;
}

.userInfoStatus,
.userInfoName {
  color: #82ca9d;
}
