.navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  color: #ffffffb2;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  transition: width 0.3s ease;
  z-index: 10;

  &.collapsed {
    width: 70px;

    .linkText {
      display: none;
    }
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .collapseButton {
    all: unset; /* Скидає всі успадковані стилі */
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.2s ease;

    &:hover {
      color: #82ca9d;
      background-color: rgba(255, 255, 255, 0.1);
    }

    .icon {
      font-size: 24px;
    }
  }

  .linksContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.2s;

    &.active,
    &:hover {
      background-color: #444;
      color: #82ca9d;
    }

    .icon {
      font-size: 20px;
    }
  }

  .userSection {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .userInfo {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .onlineStatus {
    color: #82ca9d;
  }

  .logoutButton {
    all: unset; /* Скидає всі успадковані стилі */
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 4px;

    transition: background-color 0.2s ease;

    &:hover {
      color: #82ca9d;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
