.loginContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
  text-align: left;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.passwordContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  flex: 1;
  padding-right: 40px; /* Додаємо простір для іконки */
}

.togglePassword {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
}

.togglePassword:hover {
  color: #333;
}

.icon {
  width: 24px;
  height: 24px;
}
