.loginContainer {
  max-width: 400px;

  padding: 20px;
  border-radius: 8px;
  background-color: #eeeeee;
  box-shadow: 2px 6px 8px 2px rgba(0, 0, 0, 0.31);
  text-align: center;
}

.header {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
  text-align: left;
}

.label {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  outline: none;
  flex: 1;
  padding-right: 40px; /* Додаємо простір для іконки */
  border: none;
  border-bottom: 1px solid #bfbfbf;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #686458;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3d3b34;
}

.passwordContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.togglePassword {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
}

.togglePassword:hover {
  color: #333;
}

.icon {
  width: 24px;
  height: 24px;
}

.loginImage {
  width: 85%;
}

.infoImage {
  width: 50%;
}

.loginWrapper {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.descriptionBox {
  max-height: 464px;
  max-width: 615px;
  padding: 20px;

  border-radius: 8px;
  background-color: #eeeeee;
  box-shadow: 2px 6px 8px 2px rgba(0, 0, 0, 0.31);
  text-align: center;

  h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #98727c;
  }

  p {
    margin-bottom: 12px;
  }
}

.highlighted {
  color: #98727c;
}
