.container {
  padding: 20px;

  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  th,
  td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}

.detailedTable {
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgb(0 0 0 / 41%);
}

.detailedInfo {
  margin-top: 30px;
}
