/* CSS Reset від Erica Meyer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Chakra Petch", sans-serif;
}

/* Додаткові скидання для елементів */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  font-weight: normal;
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* Загальні стилі для контейнера */
.container {
  padding: 10px;
}

/* Стилі для заголовку */

/* Стилі для таблиці */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/* Чередування кольорів для рядків таблиці */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:last-child {
  border-bottom: 1px solid #ddd;
}
/* Стилі для кнопок */
button {
  padding: 5px 12px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  background-color: #8884d8;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

button.edit {
  background-color: #8884d8; /* Зелений для редагування */
}

button.delete {
  background-color: #f44336; /* Червоний для видалення */
}

/* Стиль для селекту та інпутів */
input[type="date"],
input[type="time"],
select {
  padding: 6px;
  margin-right: 10px;
  border: 1px solid #cccccc91;
  border-radius: 4px;
  font-size: 14px;
}

select {
  background-color: #fff;
}

/* Загальний стиль для header меню вибору змін та інпутів*/
.header-main-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Загальний стиль для всіх кнопок змін */
.shiftBtn {
  padding: 5px 20px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #e0e0e0; /* Базовий колір кнопок */
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

/* Стиль для активної кнопки зміни */
.shiftBtn.active {
  background-color: #8884d8; /* Зелений колір для активної кнопки */
  color: white;
  font-weight: bold;
}

.machine-summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Дві колонки по 1fr */
  grid-template-rows: repeat(
    2,
    auto
  ); /* Два рядки, висота залежить від контенту */
  gap: 10px; /* Відстань між блоками */
  padding: 10px; /* Відступи від країв контейнера */

  background-color: #f4f4f4;
}

.input-quantity,
.zlecenie-input {
  width: 50px;
  height: 32px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Для Chrome, Safari, Edge */
  margin: 0; /* Убираємо відступи */
}

.zlecenie-input {
  width: 80px;
}

.summary {
  text-align: center;
}

.btn-summary {
  margin-bottom: 15px;
}

.btn-up {
  position: fixed;
  bottom: 20px; /* Відступ від нижнього краю */
  right: 20px; /* Відступ від правого краю */
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff; /* Можна змінити колір */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.btn-up:hover {
  opacity: 1; /* Збільшення видимості при наведенні */
}
