/* CSS Reset від Erica Meyer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Chakra Petch", sans-serif;
}

/* Додаткові скидання для елементів */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  font-weight: normal;
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* Загальні стилі для контейнера */

/* Стилі для таблиці */
table {
  width: 100%;

  font-size: 16px;
  border-collapse: collapse;
  margin-top: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;

  th,
  td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}

/* Чередування кольорів для рядків таблиці */

/* Стилі для кнопок */
button {
  padding: 5px 12px;
  border: none;

  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-summary {
  z-index: 1;
  position: relative;
  color: #333;
  border: none;
  background-color: #a2a2a2;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  padding: 2px 20px;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  overflow: visible; /* Дозволяє показувати анімацію поза межами кнопки */
}

.btn-summary:hover,
.btn-summary:focus {
  background-color: #333;
  color: #82ca9d;
}

/* Стиль для селекту та інпутів */
input[type="date"],
input[type="time"],
select {
  padding: 2px;
  border: 1px solid #cccccc91;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}

select {
  background-color: #fff;
}

/* Загальний стиль для header меню вибору змін та інпутів*/
.header-main-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.machine-summary {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Дві колонки по 1fr */
  grid-template-rows: repeat(
    2,
    auto
  ); /* Два рядки, висота залежить від контенту */
  gap: 10px; /* Відстань між блоками */
  padding: 10px; /* Відступи від країв контейнера */
  border-radius: 5px;
  background-color: #f4f4f4;
}

.input-quantity,
.zlecenie-input {
  width: 50px;
  height: 27px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.zlecenie-input {
  width: 80px;
}

.summary {
  text-align: center;
  width: 100%;
  margin: auto;
}

.btn-up {
  z-index: 10;
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 40px;
  height: 40px;
  color: #333;
  border: none;
  background-color: #bbbbbbd9;
  cursor: pointer;

  transition: background-color 0.3s, color 0.3s;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.btn-up:hover {
  background-color: #333;
  color: #82ca9d;
  transform: scale(1.1);
}

.app-container {
  display: flex;
  transition: margin-left 0.3s ease-in-out;
}

.content {
  flex-grow: 1;
  padding: 0 20px;
  margin-left: 250px; /* Коли NavBar розгорнутий */
  transition: margin-left 0.5s ease-in-out;
}

.app-container.collapsed .content {
  margin-left: 70px; /* Коли NavBar згорнутий */
}

/* Блокування прокрутки та взаємодії з основною сторінкою */
body.modal-open {
  overflow: hidden !important; /* Забороняємо прокрутку */
  height: 100vh;
}
