.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.badge {
  background: #f3f4f6;
  padding: 6px 12px;
  border-radius: 8px;

  font-size: 18px;
  animation: fadeIn 0.8s ease-in-out forwards;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 14px 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  min-width: 130px;
  animation: fadeIn 0.8s ease-in-out forwards;
}

.icon {
  font-size: 22px;
}

.label {
  font-size: 12px;
  color: #6b7280;
}

.value {
  font-size: 20px;
}

.total .value {
  color: #8884d8;
}
.work .value {
  color: #82ca9d;
}
.down .value {
  color: #dd6f6f;
}

/* Анімація */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
